@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/*  Table of contents:

    1. Global styles
    2. Typography
    3. Layout
        3.1 Section
        3.2 Article
        3.3 Form
        3.4 Table
        3.5 Summary
        3.6 Misc. Positions
    4. Components
        4.1 Nav-bar
        4.2 Grid
        4.3 Switch
        4.4 Slider
*/

/*  
    ================
    1. Global styles
    ================
*/

html {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 100%; /*16px*/
  line-height: 1.6;
}

/*  
    ==============
    2. Typography
    ==============
*/
/* ----- Font size is "Major Third" from https://type-scale.com/ -----  */

p {
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
  padding-bottom: 1.3rem;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

.small-text {
  font-size: 0.889rem;
}

.semi-bold {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}

a {
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.external-link {
  margin: 0 4px 0 2px;
}

.external-link::after {
  content: "";
  background-image: url(../images/foreign.svg);
  background-size: cover;
  position: relative;
  display: inline-block;
  /* top: 2px; */
  left: 4px;
  width: .9rem;
  height: .9rem;
  filter: invert(0%) sepia(11%) saturate(7481%) hue-rotate(175deg) brightness(110%) contrast(91%);
}

/*  
    =============
    3. Layout
    =============
*/

/* ----- 3.1 Main ----- */

main {
  /* margin: var(--cssmall-spacing-xl) 0; */
}

/* ----- 3.1 Header ----- */

header {
}

/* ----- 3.2 Section ----- */

section {
}

.hero {
  text-align: center;       
  height: 70vh;
  flex-direction: column;
  margin: var(--cssmall-spacing-xl) 0;
}

.hero-img {
  width: 600px;
}

.hero-btns {
  margin: var(--cssmall-spacing-m);
}

.highlights-item {
  padding: var(--cssmall-spacing-m) !important;
  place-self: center;
  align-self: stretch;
}

.role {
  width: 100%;
  justify-content: space-between;
}

/* ----- 3.3 Article ----- */

article {
  text-align: left;
}

/* ----- 3.4 Form ----- */

form {
  height: 45vh;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--cssmall-spacing-l);
}

label {
  margin-bottom: var(--cssmall-spacing-xs);
}

input {
  width: 15rem;
  padding: var(--cssmall-spacing-xs);
  border-radius: var(--cssmall-border-radius);
  border: 1px solid #000;
}

textarea {
  width: 622px;
  height: 8rem;
  padding: var(--cssmall-spacing-xs);
  border-radius: var(--cssmall-border-radius);
  border: 1px solid #000;
}

#kontakt {
  position: relative;
  top: 10vh;
}

/* ----- 3.5 Picture ----- */

picture img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* ----- 3.6 Summary  ----- */

details {
}

/* ----- 3.7 Footer  ----- */

footer {
  padding: var(--cssmall-spacing-m) 0 var(--cssmall-spacing-xs) 0;
  flex-direction: column;
  margin-top: var(--cssmall-spacing-xl);
}

footer i {
  padding: var(--cssmall-spacing-s);
  font-size: xx-large;
}

footer p {
  padding-bottom: 0;
}

/* ----- 3.8 Misc. Positions ----- */

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-flex {
  flex-direction: row;
}

.between-flex {
  justify-content: space-between;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.left-flex {
  align-items: flex-start;
}

.wrapper-outer{
  max-width: 1200px;
  width: 80%;
  margin: var(--cssmall-spacing-xl) auto;
}

.wrapper-inner {
  width: 50rem;
  max-width: 80%;
  margin: var(--cssmall-spacing-xl) auto;
}

.round {
  border-radius: 50%;
}

.wide {
  width: 100%;
}

/*  
    =============
    Components
    =============
*/

.box {
  padding: var(--cssmall-spacing-l);
  text-align: center;
  border-radius: var(--cssmall-border-radius);
  flex-direction: column;
}

.case-item {
  padding: var(--cssmall-spacing-s);
  text-align: center;
  border-radius: var(--cssmall-border-radius);
  display: flex;
}

.case-image {
  height: 100%;
}

.case-logo-half {
  width: 60%;
}

/* ----- 4.1 Nav-bar ----- */

nav {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: var(--cssmall-color-neutral-white);
  position: fixed;
  top: 0;
  z-index: 5;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  padding: var(--cssmall-spacing-s);
}

nav a {
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  background: linear-gradient(var(--cssmall-color-text-on-surface),var(--cssmall-color-text-on-surface)) bottom;
  background-size: 0% 2px;
  background-repeat:no-repeat;
  transition: all 0.45s;
}

nav a:hover,
nav a:focus {
  background-size: 50% 2px; /*width:100% height:2px*/
  outline: none;
}

.active {
  font-weight: 700;
}

.nav-btn {
  cursor: default;
  pointer-events: none;
  display: none;
}

.nav-logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--cssmall-spacing-s);
}

/* ----- 4.2 Grid ----- */

.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--cssmall-spacing-m);
}

.case1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.case2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.case3 {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--cssmall-spacing-s);
}

.grid-skills-2c {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--cssmall-spacing-s);
}

.skill {
  text-align: center;
  align-items: center;
  padding: var(--cssmall-spacing-xs);
  border-radius: var(--cssmall-border-radius);
}

.grid-case {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 438px;
  gap: var(--cssmall-spacing-s);
  object-fit: contain;
}

.caseText {
  grid-column: 1;
  grid-row: 1 / 4;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--cssmall-spacing-m);
}

.mockUp1, .mockUp2, .mockUp3 {
  grid-column: 2 / span 2;
}

.mockUp1 {
  grid-row: 1;
}

.mockUp2 {
  grid-row: 2;
}

.mockUp3 {
  grid-row: 3;
}

/* ----- 4.3 Buttons ----- */

.btn {
  font-size: larger;
  padding: var(--cssmall-spacing-xs) var(--cssmall-spacing-s);
  margin: var(--cssmall-spacing-s);
  margin-top: 20px;
  border: solid 4px var(--cssmall-color-text-on-primary);
  border-radius: var(--cssmall-border-radius);
  transition: transform 0.2s ease-in;
}

.btn:hover,
.btn:focus {
  outline: none;  
}

.borderWhite {
  border: solid 4px var(--cssmall-color-text-on-secondary);
}
/* ----- Icons ----- */

.icon {
  width: 3em;
  height: 3em;
  align-items: center;
}

.logo {
  fill: #ffffff;
  padding: 0.2em;
}

/* @media only screen and (max-width: 880px) {
  nav {
    align-items: flex-start;
  }
  .navBtn {
    display: block;
    cursor: pointer;
    pointer-events: all;
  }
  .nav-links {
    display: none;
    height: fit-content;
  }
  nav li {
    display: flex;
  }
} */
