@use "../base/variables" as *;
@use "../base/utility" as *;

#toTopBtn {
    display: none;
    position: fixed;
    width: $unit-2;
    height: $unit-2;
    bottom: $unit-2;
    right: $unit-2;
    z-index: 5;
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
    padding: $unit-05;
    border-radius: $border-radius;
}
