@use "../base/variables" as *;
@use "../base/utility" as *;

.about {
    @include sectionSpacing;
}

.about-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: stretch;
    background-color: var(--foreground-color);

    picture {
        width: 100%;
        position: relative;
        img {
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-overlay);
        }
        &:hover::after,
        &:focus::after {
            background-color: var(--color-overlay-hover);
        }
    }

    article {
        display: flex;
        flex-flow: column nowrap;
        padding: $spacing-m;
        gap: $spacing-s;
    }

    div {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
}

@media screen and (max-width: 1000px) {
    .about-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.toolbox {
    background-color: var(--foreground-color);
    text-align: center;
    padding: $spacing-m;

    .tools {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        gap: $spacing-m;
    }
    
    .tool-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: $spacing-m;
    }

    .tool-sub-container {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 725px) {
    .toolbox .tool-container {
        flex-direction: column;
    }
}
