@use "../base/variables" as *;
@use "../base/utility" as *;

.cases {
    display: flex;
    flex-direction: column;
    gap: $unit-6;
}

.case-grid {
    width: 100%;
    min-height: 475px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;

    .caseImage {
        width: 100%;
        position: relative;
        img {
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-overlay);
            transition: width 0.3s ease-in;
        }
        &:hover::after,
        &:focus::after {
            width: 0%;
        }
    }

    section {
        display: flex;
        flex-flow: column nowrap;
        padding: $unit-2;
        background-color: var(--foreground-color);
        gap: $unit-15;
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .case-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 450px) {

    .case-grid section {
        padding: $unit-1;
    }
    .info {
        flex-direction: column-reverse;
        text-align: center;
        gap: $unit-2;

        .links {
            justify-content: center;
        }
    }
}
