@use "../base/variables" as *;
@use "../base/utility" as *;

.cases {
    @include sectionSpacing;
}

.case-grid {
    width: 100%;
    min-height: 475px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    
    .caseImage {
        width: 100%;
        position: relative;
        img {
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--color-overlay);
        }
        &:hover::after, &:focus::after {
            background-color: var(--color-overlay-hover);
        }
    }
    
    section {
        display: flex;
        flex-flow: column nowrap;
        padding: $spacing-m;
        background-color: var(--foreground-color);
    }

    .info {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .case-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 415px) {
    .info {
        flex-direction: column-reverse;
        text-align: center;
        gap: $spacing-m;
        
        .links {
            justify-content: center;
        }
    }
}