@use "../base/variables" as *;
@use "../base/utility" as *;

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .contact-text,
    form {
        background-color: var(--foreground-color);
        padding: $unit-2;
        display: flex;
        flex-direction: column;
        gap: $unit-15;
    }

    .contact-text {
        align-self: center;
    }

    form {
        padding: $unit-2;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        fieldset {
            display: flex;
            flex-direction: column;
            gap: $unit-15;

            & label {
                display: flex;
                flex-direction: column;
            }
        }

        button[type="submit"] {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 1000px) {
    .contact {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 550px) {
    .contact {

        & .contact-text,
        & form {
            padding: $unit-1;
        }
    }
}