@use "../base/variables" as *;

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    gap: $spacing-l;

    p {
        font-size: 1.953rem;
        max-width: 35ch;
        text-align: center;
        & .color-primary {
            color: var(--color-primary);
        }
    }

    .topRight {
        position: absolute;
        top: $spacing-m;
        right: $spacing-m;
    }
}